/* Estilos globales */
* {
    box-sizing: border-box; /* Incluye padding y border en el ancho y alto */
    margin: 0;
    padding: 0;
}

/* Body y HTML */
html, body {
    height: 100%;
    font-family: "Inter", sans-serif;
}

/* Logo */
.logo {
    width: 100%;
    max-width: 200px; /* Ajusta el tamaño máximo del logo */
    margin: 10px;
    display: block;
}

/* Main */
main {
    display: flex;
    flex-direction: column; /* Cambia a columna para pantallas pequeñas */
    margin: 20px;
}

/* Textarea */
.text-area, .mensaje {
    width: 100%;
    max-width: 100%; /* Asegúrate de que los textareas no superen el ancho del contenedor */
    padding: 10px;
}

/* Botones */
.botones {
    display: flex;
    flex-wrap: wrap;
    gap: 10px; /* Espacio entre botones */
}

/* Ajuste de botones */
.btn-encriptar, .btn-desencriptar, .copiar {
    flex: 1; /* Ocupa el espacio disponible */
    min-width: 200px; /* Tamaño mínimo para los botones */
    padding: 10px;
}

/* Contenedor de mensaje */
.mensaje-container {
    width: 100%;
    max-width: 100%;
}

/* Modal */
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.4);
}

.modal-content {
    background-color: #e0fbfc;
    margin: 15% auto;
    padding: 20px;
    border-radius: 10px;
    width: 80%;
}

/* Footer */
footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px;
    width: 100%;
    position: relative;
    bottom: 0;
}

footer p {
    margin: 0;
}

footer a {
    color: #fff;
    text-decoration: none;
}

footer a:hover {
    text-decoration: underline;
}

/* Media Queries */
@media screen and (max-width: 768px) {
    main {
        margin: 10px;
    }

    .text-area, .mensaje {
        max-width: 100%;
        margin: 0;
    }

    .botones {
        flex-direction: column;
    }

    .btn-encriptar, .btn-desencriptar, .copiar {
        width: 100%;
        margin-bottom: 10px;
    }
}
